.example-card {
    // min-width: 220px;
    // max-width: 220px;
}

mat-card {
    font-family: "Unica One", sans-serif;
    color: #e0e0e0;

    .sensor-card-value {
        font-size: 18vh;
        // text-align: right;
        // min-width: 154px;
    }
    .sensor-card-unit{
        font-size: 3vh;
        text-align: left;
        vertical-align: top;
        min-width: 30%;
        max-width: 30%;
        padding: 33px;
    }
    .sensor-card-name{
        font-size: 3vh;
        text-align: left;
        padding-bottom: 0.1rem;
    }

    .sensor-card-value-unit{
        text-align: right;
    }
}

.landscape {

}