<p>view-sensors works!</p>
<h2>as json</h2>
{{localData | json }}
<ng-container *ngIf="localData">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Subject</th>
                <th>Unit</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let datapoint of localData">
                <td>{{ datapoint.name }}</td>
                <td>{{ datapoint.subject}}</td>
                <td>{{ datapoint.unit}}</td>
                <td>{{ datapoint.value}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ul>
    <li>Msg: {{message$ | async }}</li>
    <li>Msg2: {{message2 }}</li>
    <li>{{data$ | async }}</li>
    <button (click)="sendMessage()">Send halloooo</button>
</ul>
