mat-card-content {
    text-align: right;
    // font-size: 16vh;
}

.card {
    flex-grow: 1;
    min-width: 40vh;
    max-height: 28vh;
    margin: 1vh;
}

.title-subtitle {
    font-size: 2vh;
}

.card-container {

    font-family: "Unica One", sans-serif;
    height: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 767px) {
    .card {
        max-width: 80%; /* Change to a smaller value if needed */
    }
}

.high-quality {
    background-color: rgb(120, 189, 80);
}

.average-quality {
    background-color: rgb(196, 184, 99);
}
.moderate-quality {
    background-color: rgb(195, 150, 99);
}
.low-quality {
    background-color: rgb(207, 122, 122);
}

.material-symbols-rounded {
    align-items: top;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.value-unit-container {
    display: flex;
    align-items: flex-start;
}

.sensor-value {
    font-size: 14vh;
    text-align: right;
}
.sensor-unit {
    font-size: 2.5vh;
    margin-right: 5px;
    text-align: right;
    margin-bottom: 9vh;
}