<p class="message-text">Last update: {{ message$ | async }}</p>

<div>
    <ng-container *ngIf="data$">
        <!-- <mat-grid-list cols="1" rowHeight="2.5:1"> -->
        <mat-grid-list cols="1" rowHeight="200px">
            <mat-grid-tile *ngFor="let datapoint of data$">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            {{ datapoint.subject }}
                        </mat-card-title>

                        <mat-card-subtitle>
                            {{ datapoint.unit }}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content style="text-align: right; font-size: 64px">
                        {{ datapoint.value | number : "1.0-0" }}
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </ng-container>
</div>
