mat-card-content {
    text-align: right;
    font-size: 16vh;
}

.card {
    flex-grow: 1;
    min-width: 40vh;
    max-height: 28vh;
    margin: 1vh;
}

.title-subtitle {
    font-size: 1.5vh;
}

.card-container {

    font-family: "Unica One", sans-serif;
    height: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 767px) {
    .card {
        max-width: 80%; /* Change to a smaller value if needed */
    }
}

.high-quality {
    background-color: rgb(78, 189, 78);
}

.average-quality {
    background-color: rgb(151, 179, 64);
}
.moderate-quality {
    background-color: rgb(195, 184, 99);
}
.low-quality {
    background-color: rgb(207, 122, 122);
}