<!-- <h2>as json</h2>
{{data$ | json }} -->
<p>Last update: {{message$ | async }}<p>
<ng-container *ngIf="data$">
    <table class="table table-striped">
        <tbody>
            <tr *ngFor="let datapoint of data$">

                <mat-card class="example-card">
                    <mat-card-header>
                        <td class="sensor-card-name">{{ datapoint.subject }} ({{ datapoint.name }})</td>
                        <!-- <p>{{ datapoint.subject }} ({{ datapoint.name }})</p> -->
                    </mat-card-header>
                    <mat-card-content>
                        <mat-card-title >
                            <td class="sensor-card-value">{{ datapoint.value | number: '1.0-0' }}</td>
                            <td class="sensor-card-unit">{{ datapoint.unit }}</td>
                        </mat-card-title>
                    </mat-card-content>
                </mat-card>
            </tr>
        </tbody>
    </table>
</ng-container>